/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Halant:400,700|Nunito+Sans');

/* Importing all components file */
@import url("components/banner.css");
@import url("components/buttons.css");
@import url("components/cards.css");
@import url("components/containers.css");

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Nunito+Sans;
}

h1, h2, h3, h4 {
  font-family: Halant;
}

h1 {
  font-style: bold;
  font-size: 50px;
}

a {
  text-decoration: none;
}

/* Custom design below! */

