.banner {
  display: flex;
  height: 100vh;
  background-position: top;
  background-repeat: round;
}

@media(max-width: 650px){
  .banner {
    background-position: right 57% bottom 93%;
  }
}

@media (max-width: 1500px ) {
  .banner {
    background-repeat: no-repeat;
  }

}
